{% extends 'base.html' %}

{% block title %}My Profile | {% endblock title %}

{% block body %}
    <style>
        .button {
            display:flex;
            justify-content: center;
            align-items: center;
            width: 150px;
            height: 150px;
            background: none;
            border: none;
            border-radius: 50%; 
            position: relative;
            z-index: 0;
            transition: .3s;
            cursor: pointer;
        }
        .button:before {
            content: "";
            position: absolute;
            inset: -8px;
            padding: 10px;
            border-radius: 50%; 
            background: conic-gradient(
                #ff53bb ,
                #0000 30deg 120deg,
                #3cb371 150deg 180deg,
                #0000 210deg 300deg,
                #ff53bb 330deg
            );
            -webkit-mask:
            linear-gradient(#000 0 0) content-box,
            linear-gradient(#000 0 0);
            -webkit-mask-composite: xor;
                    mask-composite: intersect
        }
        .button:after {
            content: "";
            position: absolute;
            inset: -100px;
            background:
            radial-gradient(50px at left  50px top 90px,#ff53bb 100%,#0000),
            radial-gradient(50px at right 50px bottom 90px,#3cb371 100%,#0000);
            filter: blur(120px);
            opacity: .5;
        }
        
        .button:before,
        .button:after {
            transition:.5s, 99999s 99999s transform;
        }
        button:hover {
            box-shadow: 0 0 0 1px #666;
        }
        
        .button:hover:before,
        .button:hover:after {
            transform: rotate(36000deg);
            transition: .5s,600s linear transform;
        }
        .button:before {
            background-color: #222;
            border: 2px solid #333;
        }
        
        .button>img{
            border-radius: 50%;
            opacity:0.9;
        }
    </style>

    {% include 'header.html' %}

    <div class="container_fluid p-4 bg-secondary text-white shadow">
        <div class="d-flex justify-content-center">
            <div class="profile-pic me-3">
                <img width="150" height="150" src="{{user.profile.image.url}}" class="p-1 rounded-circle account-img shadow-lg bg-white"/>
            </div>

            <div class="d-flex flex-column">
                <div class="">
                    {% if user.first_name %}
                        <h1>{{user.first_name|capfirst}}</h1>
                    {% else %}
                        <h1>{{user.username|capfirst}}</h1>
                    {% endif %}
                </div>
                
                <div>
                    {% if user.is_superuser %}
                    Administrator
                    {% endif %}
                </div>
            </div>
        </div>

        <!--Profile BUTTONS-->
        <div class="d-flex justify-content-between mt-2">
            <div class="">
                
            </div>

            <div class="">
                <div class="d-block d-md-none">
                    <div class="dropdown">
                        <button class="btn btn-outline-light dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                          Menu
                        </button>
                      
                        <ul class="dropdown-menu">
                          <li><a class="dropdown-item" href="{% url 'users' %}?users=friends"><i class="fa-solid fa-user-group"></i> My Friends <span id="fr" class="badge bg-secondary">{{friends.count}}</span></a></li>
                          <li><a class="dropdown-item" href="#"><i class="fa-solid fa-message"></i> Messages <span id="msgs" class="badge bg-secondary">0</span></a></li>
                          <li><div class="dropdown-divider"></div></li>
                          {% if perms.languages.add_post %}<li><a class="dropdown-item" href="{% url 'frevise' %}"><i class="fa-solid fa-pen"></i> My Posts</a></li>{% endif %}
                          <li><a class="dropdown-item" href="{% url 'frevise' %}"><i class="fa-solid fa-book"></i> My Words</a></li>
                          <li><div class="dropdown-divider"></div></li>
                          <li><a class="dropdown-item" href="{% url 'users' %}?users=users"><i class="fa-solid fa-user-group"></i> Find People </a></li>
                        </ul>
                    </div>
                </div>
                <div class="d-none d-md-block">
                    <button onclick="window.location.assign('{% url 'users' %}?users=friends')" class="btn btn-outline-light"><i class="fa-solid fa-user-group"></i> My Friends <span id="fr-md" class="badge bg-secondary"></span></button>
                    <button onclick="window.location.assign('{% url 'users' %}')" class="btn btn-outline-light"><i class="fa-solid fa-people-group"></i> Find People</button>
                    {% if perms.languages.add_post %}
                        <button onclick="window.location.assign('{% url 'my_posts' %}')" class="btn btn-outline-light"><i class="fa-solid fa-pen"></i> My Posts</button>
                    {% endif %}
                    <button onclick="window.location.assign('{% url 'frevise' %}')" class="btn btn-outline-light"><i class="fa-solid fa-message"></i> Messages <span id="msg" class="badge bg-secondary">0</span></button>
                    <button onclick="window.location.assign('{% url 'frevise' %}')" class="btn btn-outline-light"><i class="fa-solid fa-book"></i> Flashcards</button>
                </div>
            </div>
        </div>
        <!--END PROFILE BUTTONS-->
    </div>

    {% include 'messages.html' %}
    <!-- Friend Requests -->
    {% for f in friends %}
        {% if f.friend == user and f.is_friend == False %}
            <div class="alert alert-success alert-dismissible fade show d-flex align-items-center m-1" role="alert">
                You have a friend request from <a href="{% url 'user_detail' f.user.id %}">{{f.user.username}}<a>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endif %}
    {% endfor %}


    <form action="" method="post" enctype="multipart/form-data" novalidate>
        {% csrf_token %}
        {% if form.non_field_errors %}
            {% for error in form.non_field_errors %}
                <p>{{error}}</p>
            {% endfor %}
        {% endif %}

        <div class="container mt-5">
            <div class="row">

                <!-- Contact Information -->
                <div class="row col-sm-12 col-md-6">
                    <div class="mb-3">
                        <h3>Contact Information:</h3>
                    </div>
                    
                    <div class="col-3 mb-3">
                        {{form.username.label_tag}}
                    </div>
                    <div class="col-9 mb-3">
                        {{form.username.value}}
                        {{form.username.errors}}
                    </div>

                    <div class="col-3 mb-3">
                        {{form.first_name.label_tag}}
                    </div>
                    <div class="col-9 mb-3">
                        {{form.first_name.value}}
                        {{form.first_name.errors}}
                    </div>

                    <div class="col-3 mb-3">
                        {{form.last_name.label_tag}}
                    </div>
                    <div class="col-9 mb-3">
                        {{form.last_name.value}}
                        {{form.last_name.errors}}
                    </div>


                    <div class="col-3 mb-3">
                        {{p_form.phone.label_tag}}
                    </div>
                    <div class="col-9 mb-3">
                        {{p_form.phone.value}}
                        {{p_form.phone.errors}}
                    </div>


                    <div class="col-3 mb-3">
                        {{form.email.label_tag}}
                    </div>
                    <div class="col-9 mb-3">
                        {{form.email.value}}
                        {{form.email.errors}}
                    </div>
                </div>

                <!-- Academic Information -->
                <div class="row col-sm-12 col-md-6">
                    <div class="mb-3">
                        <h3>Academic Information:</h3>
                    </div>

                    <div class="col-3 mb-3">
                        {{p_form.profession.label_tag}}
                    </div>
                    <div class="col-8 mb-3">
                        {{p_form.profession.value|capfirst}}
                        {{p_form.profession.errors}}
                    </div>


                    <div class="col-3 mb-3">
                        {{p_form.highest_degree.label_tag}}
                    </div>
                    <div class="col-8 mb-3">
                        {{p_form.highest_degree.value}}
                        {{p_form.highest_degree.errors}}
                    </div>
                    <div class="col-3 mb-3">
                        {{p_form.reputation.label_tag}}
                    </div>
                    <div class="col-8 mb-3">
                        {{p_form.reputation.value}} <button type="button" class="btn btn-sm btn-outline-info ms-2" data-bs-toggle="popover" data-bs-title="Reputation?" data-bs-content="Reputation increases each time you answer an exercise question anywhere on the Website.">Click to know more!</button>
                        {{p_form.reputation.errors}}
                    </div>
                    <div class="col-3 mb-3">
                        {{p_form.languages.label_tag}}
                    </div>
                    <div class="col-8 mb-3">
                        {{p_form.languages.value}}
                        {{p_form.languages.errors}}
                    </div>
                </div>
                <hr>
                <div class="col-auto mb-3">
                    <button type="button" class="btn btn-primary" onclick="window.location.assign('{% url 'change_profile' %}')"><i class="fa-solid fa-gear"></i> Edit Profile</button>
                    <button onclick="window.location.assign('{% url 'sign_out' %}')" class="btn btn-danger"><i class="fa-solid fa-right-from-bracket"></i> Log Out</button>
                </div>
            </div>
        </div>
    </form>

    <script>
        var friends_model = [];
        `{% for f in friends %}
            {% if f.is_friend %}
            ${friends_model.push("{{f.user.username}}")}
            {% endif %}
        {% endfor %}`
        console.log(friends_model)
        
        var fr = document.getElementById("fr")
        var frmd = document.getElementById("fr-md")
        fr.innerText = friends_model.length
        frmd.innerText = friends_model.length
    </script>
    {% include 'footer.html' %}
{% endblock body %}