{% extends 'base.html' %}

{% block title %}
    {% if user.first_name %}
        {{user.first_name|capfirst}}'s
    {% else %}
        {{user.first_name}}'s
    {% endif %}
    Profile | 
{% endblock title %}

{% block body %}
{% include 'header.html' %}

    <div class="container_fluid p-4 bg-gray-100 shadow">
        <div class="d-flex justify-content-center">
            <div class="me-3">
                <img src="{{user.profile.image.url}}" class="profile-pic p-1 shadow bg-white"/><!-- former class rounded-circle, account-img -->
            </div>

            <div class="d-flex flex-column">
                <div class="">
                    {% if user.first_name %}
                        <h1>{{user.first_name|capfirst}}</h1>
                    {% else %}
                        <h1>{{user.username|capfirst}}</h1>
                    {% endif %}
                </div>
                
                <div>
                    {% if user.is_superuser %}
                    Administrator
                    {% endif %}
                </div>
            </div>
        </div>

        <!--PERMS BUTTONS-->
        <div class="d-flex justify-content-between">
            <div class="">
                <!-- Start Buttons -->
            </div>

            <div>
                <button onclick="window.location.assign('{% url 'users' %}')" class="btn btn-success"><i class="fa-solid fa-message"></i> Message</button>
                {% if is_friend %}
                    {% if fr_req == "request_received" %}
                        <div class="btn-group dropup">
                            <button type="button" class="btn btn-primary" data-bs-toggle="dropdown" aria-expanded="false">
                                Befriend
                            </button>
                            <div class="dropdown-menu p-2">
                                You have a friend request from {{user.username}}.
                                <button onclick="window.location.assign('?action=accept')" class="btn btn-sm btn-secondary">Accept</button>
                                <button onclick="window.location.assign('?action=reject')" class="btn btn-sm btn-secondary">Reject</button>
                            </div>
                        </div>
                    {% else %}
                    {% if fr_req == "request_sent" %}
                        <div class="btn-group dropup">
                            <button type="button" class="btn btn-primary" data-bs-toggle="dropdown" aria-expanded="false">
                              Befriend
                            </button>
                            <div class="dropdown-menu p-2">
                              You have already sent friend request to {{user.username}}.
                            </div>
                        </div>
                    {% else %}
                        <button onclick="window.location.assign('?action=unfriend')" class="btn btn-danger"><i class="fa-solid fa-hands"></i> Unfriend</button>
                    {% endif %}
                    {% endif %}
                {% else %}
                    <button onclick="window.location.assign('?action=befriend')" class="btn btn-primary"><i class="fa-solid fa-handshake"></i> Befriend</button>
                {% endif %}
            </div>
        </div>
        <!--END PROFILE BUTTONS-->
    </div>
    {% include 'messages.html' %}
    
    <div class="container mt-5">
        <div class="row">

            <div class="col-2 mb-3">
                {{form.first_name.label_tag}}
            </div>
            <div class="col-10 mb-3">
                {{form.first_name.value}}
                {{form.first_name.errors}}
            </div>

            <div class="col-2 mb-3">
                {{form.last_name.label_tag}}
            </div>
            <div class="col-10 mb-3">
                {{form.last_name.value}}
                {{form.last_name.errors}}
            </div>


            <div class="col-2 mb-3">
                Reputation:
            </div>
            <div class="col-10 mb-3">
                {{user.profile.reputation}}
            </div>


            <div class="col-2 mb-3">
                {{form.email.label_tag}}
            </div>
            <div class="col-10 mb-3">
                {{form.email.value}}
                {{form.email.errors}}
            </div>
        
        </div>
    </div>

    {% include 'footer.html' %}
{% endblock body %}

</body>
</html>