{% extends 'base.html' %}

{% block title %}Peoples / Users |{% endblock title %}

{% block body %}
  {% include "static/css/styles.html" %}
  {% include 'header.html' %}

  <div class="container my-5">
    {% if users %}
      {% if type == "users" %}
        <div class="row">
          {% for user in users %}
            <div class="col-auto mb-3" onclick="window.location.assign('{% url 'user_detail' user.id %}')">
              <div class="card shadow">
                <div class="img-cont"><img class="img" src="{{user.profile.image.url}}" class=""/></div>
                <div class="name">{{user.username}}</div>
              </div>
            </div>
          {% endfor %}
        </div>
      {% endif %}

      {% if type == "friends" %}
        <div class="row">
          {% for friend in users %}
            {% if friend.is_friend %}
              {% if friend.user == request.user %}
                <div class="col-auto mb-3" onclick="window.location.assign('{% url 'user_detail' friend.friend.id %}')">
                  <div class="card shadow">
                    <img src="{{friend.friend.profile.image.url}}" class=""/>
                    <div class="name">{{friend.friend.username}}</div>
                  </div>
                </div>
              {% endif %}

              {% if friend.friend == request.user %}
                <div class="col-auto mb-3" onclick="window.location.assign('{% url 'user_detail' friend.user.id %}')">
                  <div class="card shadow">
                    <img src="{{friend.user.profile.image.url}}" class=""/>
                    <div class="name">{{friend.user.username}}</div>
                  </div>
                </div>          
              {% endif %}
            {% else %}
            You do not have any friends!
            {% endif %}
          {% endfor %}
        </div>
      {% endif %}
    {% else %}
      You do not have any friends!
    {% endif %}
  </div>

{% include 'footer.html' %}
{% endblock body %}