<!-- Pronounce -->
<script>
    let ukp = document.getElementById("ukpron");
    let usp = document.getElementById("uspron");

    ukp.addEventListener('click', function() {
        //let audio1 = new Audio('/media/dictionary/audio/{{word.word}}_gb_1.mp3');
        //audio1.play();
        textToSpeech(`{{word.word}}`,"UK")
    });
    usp.addEventListener('click', function() {
        //let audio2 = new Audio('/media/dictionary/audio/{{word.word}}_us_1.mp3');
        //audio2.play();
        textToSpeech(`{{word.word}}`,"US")
    });
</script>

<!-- Generating HTML content of Sentence Usage -->
<script>
    // Sentence Usage
    if ("{{word.context|length}}" != "0"){
    let contextSt = `{{word.context}}`.split("\n"); // context converted into list
    var context = [];
    var contextDoc = ``;

    for ( let x of contextSt ){
        xx = x.split("+");
        context.push(xx);
    } // making list of context substrings


    for ( let x of context ){
        contextDoc += `<div class="mb-2">`;
        for ( let y=0; y < x.length; y++ ){
            if (y==x.length-1){
                contextDoc += `<span class="d-inline-block bg-secondary bg-opacity-25 px-2 py-1 rounded-3">${x[y]}</span>`;
            } else {
                contextDoc += `<span class="d-inline-block bg-secondary bg-opacity-25 px-2 py-1 rounded-3">${x[y]}</span><span class="py-1">+</span>`;
            }
        }
        contextDoc += `</div>`;
    } // generating HTML content from context list
    document.getElementById("context").innerHTML = contextDoc;
    //console.log(contextDoc);
    }
</script>

<!-- Generating content -->
<script>
    
    let synonymsSt = `{{word.synonyms}}`.split(","); // context converted into list
    var synonymsDoc = ``;

    if ("{{word.synonyms}}"){
        for ( let x of synonymsSt ){
            x = x.trim()
            synonymsDoc += `<span class="d-inline-block border-bottom border-3 border-primary pb-1 me-2 mb-2 cursor-pointer" onclick="window.location.assign('{% url 'dictionary' %}?q=${x}')">${x}</span>`;
        } // generating HTML content from context list

        document.getElementById("synonyms").innerHTML = synonymsDoc;
    }


    let relatedSt = `{{word.compare}}`.split(","); // context converted into list
    var relatedDoc = ``;

    if ("{{word.compare}}"){
        for ( let x of relatedSt ){
            x = x.trim()
            relatedDoc += `<span class="d-inline-block border-bottom border-3 border-info pb-1 me-2 mb-2 cursor-pointer" onclick="window.location.assign('{% url 'dictionary' %}?q=${x}')">${x}</span>`;
        } // generating HTML content from context list

        document.getElementById("related").innerHTML = relatedDoc;
    }

    let antonymsSt = `{{word.antonyms}}`.split(","); // context converted into list
    var antonymsDoc = ``;

    if ("{{word.antonyms}}"){
        for ( let x of antonymsSt ){
            x = x.trim()
            antonymsDoc += `<button class="btn btn-outline-danger me-2 mb-2" onclick="window.location.assign('{% url 'dictionary' %}?q=${x}')">${x}</button>`;
        } // generating HTML content from context list

        document.getElementById("antonyms").innerHTML = antonymsDoc;
    }
</script>

<script>
    let def = document.getElementById("definition");
    def.innerHTML = def.innerHTML.replace(/[;]/g, "<span class='fw-bold text-primary'> ; </span>");

    var example = document.getElementById("example");
    var examples = example.getElementsByTagName("li");
 
    
    
    for (let x of examples) {
        let tag_start = false;

        x.innerHTML = x.innerHTML.replace(/{{word.word}}/gi, "<span style='color:#0d6efd;'>{{word.word}}</span>");

        if (tag_start == false){
            x.innerHTML = x.innerHTML.replace("**", "<span style='font-style:normal;'>[");
            tag_start = true;
        }

        if (tag_start == true){
            x.innerHTML = x.innerHTML.replace("**", "]</span>");
            tag_start = false;
        }

        if (tag_start == false){
            x.innerHTML = x.innerHTML.replace("*", "<span class='fst-normal'>");
            tag_start = true;
        }

        if (tag_start == true){
            x.innerHTML = x.innerHTML.replace("*", "</span>");
            tag_start = false;
        }
    }

    // Example Shadows
    let exampleHeight = example.scrollHeight;//example.getBoundingClientRect().height;
    if ( exampleHeight > 300 ){
        example.classList.add("shadow-b");
    }
    example.addEventListener("scroll", function(){
        if (example.scrollTop > 40){
            example.classList.remove("shadow-b");
            example.classList.add("shadow-y");
        }
        if (example.scrollTop > (exampleHeight-example.offsetHeight-2)){
            example.classList.remove("shadow-y");
            example.classList.add("shadow-t");
        }
        if (example.scrollTop < 10){
            example.classList.remove("shadow-y");
            example.classList.add("shadow-b");
        }
        //console.log(example.classList);
    });

    //var forms = document.getElementById("forms");
    //let formlen = `{{word.forms}}`.length;
    //if(formlen > 0){
    //    forms.innerHTML = forms.innerHTML.replace(/{{word.word}}/gi, "<span style='color:#0d6efd;'>{{word.word}}</span>");
    //}
</script>

<!--AUTO REFRESHER SCRIPT-->
<script>
    if ("{{refresh}}" == "True") {
        setTimeout(function() {
            location.reload();
        }, 4000);
    } else {
        setTimeout(function() {
            location.reload();
        }, 60000);
    };
</script>