{% extends 'base.html' %}
{% block body %}
{% include 'static/css/styles.html' %}
{% include "header.html" %}

{% include 'messages.html' %}

<!--form method="post" action="" enctype="multipart/form-data">
    {% csrf_token %}
    {% for f in form %}
    {{f.label_tag}}
    {{f}}
    {% endfor %}
    <input type="submit" name="_save" value="submit"/>
</form-->

<div class="container my-5">
    <form method="post" action="" enctype="multipart/form-data">
        {% csrf_token %}
        {{form.date_created}}
        <div class="row col-rows-3 mb-3">
            <div class="col">
                {{form.title.label_tag}}
                {{form.title}}
                {{form.title.error}}
            </div>

            <div class="col">
                {{form.fill_values.label_tag}}
                {{form.fill_values}}
                {{form.fill_values.error}}
            </div>
            
            <div class="col">
                {{form.image.label_tag}}
                {{form.image}}
                {{form.image.error}}
            </div>
        </div>

        <div class="mb-3">
            {{form.content.label_tag}}
            <textarea name="content" rows="10" id="id_content">
            {{form.content.value}}
            </textarea>
            {{form.content.error}}
        </div>

        <div class="row col-rows-3 mb-3">
            <div class="col">
                {{form.published.label_tag}}
                {{form.published}}
            </div>

            <div class="col">
                {{form.level.label_tag}}
                {{form.level}}
            </div>
        </div>

        <div class="col text-end">
            <input type="submit" value="Submit" class="btn btn-primary"/>
        </div>
    </form>
</div>

{% include "static/components/bs_form.html" %}

<script>
    document.body.onload = function(){
        tinymce.init({
            height: '600',
            selector: '#id_content',
            plugins: 'anchor autolink charmap codesample emoticons image link lists media searchreplace table visualblocks wordcount checklist mediaembed casechange export formatpainter pageembed linkchecker a11ychecker tinymcespellchecker permanentpen powerpaste advtable advcode editimage tinycomments tableofcontents footnotes mergetags autocorrect typography inlinecss',
            toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table mergetags | addcomment showcomments | spellcheckdialog a11ycheck typography | align lineheight | checklist numlist bullist indent outdent | emoticons charmap | removeformat',
            tinycomments_mode: 'embedded',
            tinycomments_author: 'Author name',
            mergetags_list: [
                { value: 'First.Name', title: 'First Name' },
                { value: 'Email', title: 'Email' },
            ]
        });
    }
</script>

{% endblock body %}