{% extends 'base.html' %}

{% block head %}
    <!-- DATATABLES -->
    <link rel="stylesheet" href="/static/dt/dataTables.bootstrap5.min.css"/>
    <link rel="stylesheet" href="/static/dt/cmb_datatables.min.css"/>
    <link rel="stylesheet" href="/static/bootstrap-5.2.3-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/fonts/fontawesome/css/all.min.css"/>
    <style>
        .page-item.active .page-link {
            columns: #fff;
            background-color: #6c757d;
            border: 1px solid #6c757d;
        }

        /*.pagination > li > a {
            background-color: #fff;
            color: #6c757d;
        }
        .pagination > li > a:focus,
        .pagination > li > a:hover,
        .pagination > span > a:focus,
        .pagination > span > a:hover {
            color: #111;
            background-color: #d3d3d3;
            border: 1px solid #6c757d;
            box-shadow: none;
        }*/

        .dataTables_paginate {
            margin-top: 20px !important;
        }
        /* .dataTables_info {
            position: fixed;
            bottom: 20px;
            left: 20px;
        } */
        /* ENTRY BAR */
        .dataTables_length {
            position: -webkit-sticky !important;
            position: sticky !important;
            left: 10px !important;
            width: 300px;
        }
        .dt-buttons {
            position: -webkit-sticky !important;
            position: sticky !important;
            left: 5px !important;
            margin-bottom: 0;
            bottom: 20px;
            left: 20px;
        }

        /* input search */
        /*.dataTables_filter {
            position: -webkit-fixed !important;
            position: fixed !important;
            bottom: 20px;
            left: 50% !important;
            transform: translate(-50%,0);
        }*/

        thead input {
            width: 100%;
            text-align: center;
        }
    </style>
{% endblock head %}

{% block body %}
{% include 'header.html' %}
<div class="container-fluid bg-gray text-primary text-center p-4">
    <h1 class="fw-bold learner">Learners' Dictionary</h1>
</div>

<div class="container my-4">
    <div>
        <form>
            <input type="search" name="q" class="form-control" placeholder="Search..." value="{{request.GET.q}}"/>
        </form>
    </div>
</div>

<div class="container mb-5">
    <table id="" class="rounded-3 table table-hover" style="width:100%">
        <thead>
            <tr class="bg-gray text-primary border-primary">
                <th style="width:5%;">#</th>
                <th style="width:20%;">Word</th>
                <th style="width:10%;">PoS</th>
                <th style="width:50%;">Definition</th>
                <th style="width:10%;">Fav</th>
            </tr>
        </thead>
        <tbody>
            {% for word in wordsp %}
            <tr>
                <td>{% if forloop.last %}{{request.GET.page|default:1}}0{% else %}{{pagen}}{{forloop.counter}}{% endif %}</td>
                <td onclick="window.location.assign(`{% url 'word' word.id %}`)">{{word.word}}</td>
                <td>{{word.pos}}</td>
                <td onclick="window.location.assign(`{% url 'word' word.id %}`)">{{word.definition}}</td>
                <td class="text-center">
                    {% if word.revise_set.count > 0 %}
                    <button title="Already added" class="btn btn-outline-danger fs-5" onclick="window.location.assign('/english/data?data=new&word={{word.id}}')"><i class="fa-solid fa-heart"></i></button>
                    {% else %}
                    <button title="Add it" class="btn btn-outline-primary fs-5" onclick="window.location.assign('/english/data?data=new&word={{word.id}}')"><i class="fa-regular fa-heart"></i></button>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <th>#</th>
                <th>Word</th>
                <th>PoS</th>
                <th>Definition</th>
                <th>Fav</th>
            </tr>
        </tfoot>
    </table>
    <nav aria-label="...">
        <ul class="pagination">
            {% if wordsp.has_previous %}
                <li class="page-item"><a class="page-link" href="?page=1">First</a></li>
                <li class="page-item"><a class="page-link" href="?page={{ wordsp.previous_page_number }}">Previous</a></li>
            {% else %}
                <li class="page-item disabled"><span class="page-link">Prev</span></li>
            {% endif %}

            <li class="page-item disabled">
                <span class="page-link">
                    Page {{ request.GET.page|default:1 }} of {{ wordsp.paginator.num_pages }}
                </span>
            </li>

            {% if wordsp.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{ wordsp.next_page_number }}">Next</a></li>
                <li class="page-item"><a class="page-link" href="?page={{ wordsp.paginator.num_pages }}">Last</a></li>
            {% endif %}
        </ul>
    </nav>


    <!--table id="example" class="table table-hover" style="width:100%">
        <thead>
            <tr class="bg-gray text-primary">
                <th style="width:5%;">#</th>
                <th style="width:20%;">Word</th>
                <th style="width:10%;">PoS</th>
                <th style="width:50%;">Definition</th>
                <th style="width:10%;">Fav</th>
            </tr>
        </thead>
        <tbody>
            {% for word in wds %}
            <tr>
                <td>{{forloop.counter}}</td>
                <td onclick="window.location.assign(`{% url 'word' word.id %}`)">{{word.word}}</td>
                <td>{{word.pos}}</td>
                <td onclick="window.location.assign(`{% url 'word' word.id %}`)">{{word.definition}}</td>
                <td class="text-center"><button title="Add it" class="btn btn-outline-primary fs-4" onclick="window.location.assign('/english/data?data=new&word={{word.id}}')"><i class="fa-regular fa-heart"></i></button></td>
            </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <th>#</th>
                <th>Word</th>
                <th>PoS</th>
                <th>Definition</th>
            </tr>
        </tfoot>
    </table-->
</div>

<div class="mb-5"></div>

<!-- Dict Table Files
<script defer src="/static/js/web/jquery-3.6.3.min.js"></script>
<script src="/static/js/web/popper_2_11_6_min.js"></script>
<script src="/static/js/web/popper.bootstrap.min.js"></script>
-->
<!-- DATATABLES
<script defer src="/static/dt/pdfmake.min.js"></script>
<script defer src="/static/dt/vfs_fonts.js"></script>
<script defer src="/static/dt/datatables.min.js"></script>
-->
<!--
<script>//DataTables
    $(document).ready(function() {
        $('#example #columnFilters tr')//initially     $('#example thead tr')
            //.clone(true)
            .addClass('filters bg-secondary')
            .appendTo('#example #columnFilters'); //initially   $('#example thead')

        var table = $('#example').DataTable({
            // orderCellsTop: true,
            // fixedHeader: true,
            paging: true, //pagination
            pageLength: 10, //entries per page
            lengthChange: true, //show entries per page option
            autoWidth: false, //auto width for columns
            searching: true, //search bar
            bInfo: true, //bottom table info
            bSort: true, //sorting a-z 0-9

            //particular columns settings
            // "columnDefs": [
            //     {
            //         "width": "20%",
            //         "targets": [4,5], //4th and 5th column is not sortable
            //         "orderable": false
            //     },
            //     {
            //         "width": "10%",
            //         "targets": 0,
            //     },

            // ],

            initComplete: function() {
                var api = this.api();
                //columns to filter
                api
                    .columns()//.columns([0,1,2,3]) specify column no. if you want the filter for a particular column
                    .eq(0)
                    .each(function(colIdx) {
                        var cell = $('.filters th').eq(
                            $(api.column(colIdx).header()).index()
                        );
                        var title = $(cell).text();
                        $(cell).html('<input type="texg" placeholder="' + title + '"/>');
                        $(
                            'input',
                            $('.filters th').eq($(api.column(colIdx).header()).index())
                        )
                        .off('keyup change')
                        .on('keyup change', function(e) {
                            e.stopPropagation();
                            
                            $(this).attr('title',$(this).val());
                            var regexr = '({search})';

                            var cursorPosition = this.selectionStart;

                            api
                                .column(colIdx)
                                .search(
                                    this.value != ''
                                        ? regexr.replace('{search}', '(((' + this.value + ')))')
                                        : '',
                                    this.value != '',
                                    this.value == ''
                                )
                            .draw();
                        $(this)
                            .focus()[0]
                            .setSelectionRange(cursorPosition, cursorPosition)
                        });
                    });
            },
        //BUTTONS
        //dom: 'lBfrtip',
        // buttons: [
        //     {//COPY BUTTON
        //         extend: 'copy',
        //         text: '<i class="fa-solid fa-clone"></i>',
        //         className: 'btn btn-secondary',
        //         titleAttr: 'Copy',
        //         //SPECIFIED COLUMNS TO COPY
        //         exportOptions: {
        //             columns: [0,1,2,3,4,5]
        //         },
        //     },
        //     {//EXCEL BUTTON
        //         extend: 'excel',
        //         text: '<i class="fa-solid fa-file-excel"></i>',
        //         className: 'btn btn-success',
        //         titleAttr: 'Export to Excel',
        //         //SPECIFIED COLUMNS TO EXPORT
        //         exportOptions: {
        //             columns: [0,1,2,3,4,5]
        //         },
        //     },
        //     {//PRINT BUTTON
        //         extend: 'print',
        //         text: '<i class="fa-solid fa-print"></i>',
        //         className: 'btn btn-primary',
        //         titleAttr: 'Print',
        //         //SPECIFIED COLUMNS TO Print 
        //         exportOptions: {
        //             columns: [0,1,2,3,4,5]
        //         },
        //         customize: function(win) {
        //             $(win.document.body).css('font-size','10pt')
        //             $(win.document.body).find('table')
        //                 .addClass('compact')
        //                 .css('font-size','inherit');
        //         },
        //     },
        //     {//PDF BUTTON
        //         extend: 'pdf',
        //         text: '<i class="fa-solid fa-file-pdf"></i>',
        //         className: 'btn btn-danger',
        //         titleAttr: 'PDF',
        //         //SPECIFIED COLUMNS TO Print 
        //         exportOptions: {
        //             columns: [0,1,2,3,4,5]
        //         },
        //         //TABLE HEADER
        //         tableHeader: {
        //             alignment: 'center'
        //         },
        //         //FONT SIZE
        //         customize: function(doc) {

        //             doc.styles.title = {
        //                 color: 'red',
        //                 fontSize: '40',
        //                 background: 'blue',
        //                 alignment: 'center'
        //             }

        //             doc.defaultStyle.fontSize = 6;
        //             doc.styles.tableHeader.alignment = 'center';
        //             doc.styles.tableHeader.fontSize = 8;
        //             doc.styles.tableBodyOdd.alignment = 'center';
        //             doc.styles.tableBodyEven.alignment = 'center';
        //             //100% width of the table
        //             doc.content[1].table.widths = Array(doc.content[1].table.body[1].length + 1).join('*').split('');
        //         }
        //     },
        // ]
        });
    });
    
    // NOTE: set column width based on the columns number, multiplied by 20% of the screen
    //var tableExample = document.getElementById('example');
    //var tbr = tableExample.rows[0].cells.length*15;
    //tableExample.style.width = tbr+"rem";
</script>
-->
{% if perms.languages.add_word %}
    <div class="position-fixed bottom-0 right-0 m-3">
        <a href="{% url 'add_card' %}" class="btn btn-secondary text-white">
            <i class="fa-solid fa-plus"></i>
        </a>
    </div>
{% endif %}
{% include "footer.html" %}
{% endblock body %}