{% extends 'base.html' %}
{% load to_and %}

{% block body %}
{% include 'english/flashcards/styles/flashcards.html' %}

{% include "header.html" %}
{% include 'messages.html' %}

<div class="container mt-5">
    <div class="col-12 text-secondary fs-4">
        Select the word which means the following:
    </div>
    <div id="def-container" class="position-relative col-12 rounded-3 mt-1 mb-5" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <div id="def" class="col-12 fs-5 p-2">
            <div class="fs-6">{% if word.def_inf %}{{word.def_inf}}{% endif %}</div>

            <div id="carouselExampleControls" class="carousel slide">
                <div class="carousel-inner">

                    <div class="carousel-item active">
                        <div class="">{{word.definition}}</div>
                    </div>
                    <div class="carousel-item">
                        {% if word.definition_hindi %}{{word.definition_hindi}}{% else %}<span class="fs-5 text-danger">Hindi definition not available for this word</span>{% endif %}
                    </div>
                    
                </div>
            </div>

            <div class="position-absolute top-0 end-0 m-2">
                <i class="fa-solid fa-language fs-3 text-primary cursor-pointer" data-bs-target="#carouselExampleControls" data-bs-slide="next"></i>
            </div>
        </div>
    </div>

    <div class="row">
        <div id="cardss" class="d-flex flex-wrap gap-3 justify-content-center col-12 mb-4">
        </div>
    </div>

    <div id="demo"></div>

</div>
<script>
    {//initials
        var vars = JSON.parse("{{words|escapejs}}");
        vars.sort(function () { return 0.5 - Math.random() }); // Orders randomly an array

        var prompt = document.getElementById('prompt');
        var prm = document.getElementById('prm');
        var num = 0;//used for page navigations
        var nump = num+1;//used for showing page number
        var right = 0;//used for counting correct cards
        var wrong = 0;//used for counting incorrect cards
        var cards_db = [];
        var len = [];//used for current page if there are more than one card
    }

    document.getElementById("cardss").innerHTML = `
        <div id="w1" class="btn btn-outline-secondary col-11 col-md-5 fs-3">
            ${vars[0].word}
        </div>
        <div id="w2" class="btn btn-outline-secondary col-11 col-md-5 fs-3">
            ${vars[1].word}
        </div>
        <div id="w3" class="btn btn-outline-secondary col-11 col-md-5 fs-3">
            ${vars[2].word}
        </div>
        <div id="w4" class="btn btn-outline-secondary col-11 col-md-5 fs-3">
            ${vars[3].word}
        </div>
    `;
    
    {//variables
        var card_content = vars;
        var card_count = vars.length;
        var randline = Math.floor(Math.random() * (card_count - 0)) + 0;
        while (len.includes(randline)) {
            var randline = Math.floor(Math.random() * (card_count - 0)) + 0;
        }
        var card = card_content[randline];
        var word = card.word;
        var definition = card.definition;
    }

    //textToSpeech(meaning);

    {//generating 4 cards
        var cards_arr = [word];
        var suggest_cards = vars;
        for (x of suggest_cards) {
            cards_arr.push(x.word);
            
            if (cards_arr.length == 4) {
                break;
            }
        }
        cards_arr.sort(function () { return 0.5 - Math.random() }); // Orders randomly an array
    }


    $('.btn').on('click', function () {
        var thiss = $(this);
        var thiss_text = this.getAttribute('value');

        if (thiss_text == word) {//{(card_listed.includes(thiss.text().slice(2, 20))) {
            textToSpeech(word);
            len.push(randline);
            cards_db.push(card);
            prompt.style.display = "block";
            $('#prm').css({
                "background-color": "rgb(60, 179, 114, 0.95)",
                "animation": "prm 1.5s ease 0ms 1 normal forwards"
            });
            var prompt_msg = wish[Math.floor(Math.random() * (wish.length - 0)) + 0];
            prm.innerHTML = prompt_msg;
        } else {
            if (errors_array.includes(vars[3])==false) {
                errors_array.push(vars[3]);//adding the function/lesson into the error array so as to revise it later
            }
            prompt.style.display = "block";
            $('#prm').css({
                "background-color": "rgb(85, 85, 85, 0.95)",
                "animation": "prm 1s ease 0ms 1 normal forwards"
            });
            var prompt_msg = sorry[Math.floor(Math.random() * (sorry.length - 0)) + 0];
            prm.innerHTML = prompt_msg;
        }
        if (len.length == card_count) {
            len = [];
            if (vars[4] == 1) {
                location.assign(`/learn/${lesson + 1}`);
            } else {
                navigate('next');
            }
        } else {
            navigate('reload');//window["masters"](num);//window[`master_${vars[3]}`]();
        }
    });
</script>
{% include 'english/flashcards/scripts/script.html' %}
{% endblock body %}