{% extends 'base.html' %}
{% load to_and %}

{% block body %}
{% include 'english/static/learn.html' %}
{% include 'english/flashcards/styles/flashcards.html' %}

{% include "header.html" %}
{% include 'messages.html' %}

<div class="container mt-5">
    <div class="col-12 text-secondary fs-4">
        Select the word which means the following:
    </div>
    <div id="def-container" class="position-relative col-12 rounded-3 mt-1 mb-5" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <div id="def" class="col-12 fs-5 p-2">
            <div class="fs-6">{% if word.def_inf %}{{word.def_inf}}{% endif %}</div>

            <div id="carouselExampleControls" class="carousel slide">
                <div class="carousel-inner">

                    <div class="carousel-item active">
                        <div class=""><span id="deff"></span></div>
                    </div>
                    <div class="carousel-item">
                        <span id="deffhin"></span>
                    </div>
                    
                </div>
            </div>

            <div class="position-absolute top-0 end-0 m-2">
                <i class="fa-solid fa-language fs-3 text-primary cursor-pointer" data-bs-target="#carouselExampleControls" data-bs-slide="next"></i>
            </div>
        </div>
    </div>

    <div class="row">
        <div id="cardss" class="d-flex flex-wrap gap-3 justify-content-center col-12 mb-4">
        </div>
    </div>

    <div id="demo"></div>

</div>

<!--Alert-->
    <div id="prompt">
        <div id="prm"></div>
        <div id="prm2"></div>
    </div>
<!--End Alert-->

<script>
    {//initials
        var len = [];
        var vars = JSON.parse("{{words|escapejs}}");
        var prompt = document.getElementById('prompt');
        var prm = document.getElementById('prm');
    }

    function revise() {
        vars.sort(function () { return 0.5 - Math.random() }); // Orders randomly an array

        var card_count = vars.length; //var card_count = vars[1][1] == 0 ? card_content_les.length : vars[1][1]; //from arguments
        
        var randline = Math.floor(Math.random() * (card_count - 0)) + 0;
        while (len.includes(randline)) {
            var randline = Math.floor(Math.random() * (card_count - 0)) + 0;
        }

        var card = vars[randline];
        wid = card.id;
        var word = card.word;
        var definition = card.definition;
    

        {//generating 4 cards
            var cards_arr = [word,vars[0].word,vars[1].word,vars[2].word];
        }
        cards_arr.sort(function () { return 0.5 - Math.random() }); // Orders randomly an array

        document.getElementById("deff").innerText = `${definition}`;
        document.getElementById("cardss").innerHTML = `
            <div onmousedown="clkk()" id="w1" class="btn btn-outline-secondary col-11 col-md-5 fs-3">
                ${cards_arr[0]}
            </div>
            <div onmousedown="clkk()" id="w2" class="btn btn-outline-secondary col-11 col-md-5 fs-3">
                ${cards_arr[1]}
            </div>
            <div onmousedown="clkk()" id="w3" class="btn btn-outline-secondary col-11 col-md-5 fs-3">
                ${cards_arr[2]}
            </div>
            <div onmousedown="clkk()" id="w4" class="btn btn-outline-secondary col-11 col-md-5 fs-3">
                ${cards_arr[3]}
            </div>
        `;


        {//WISH
            wish = ["Good Job!", "Badhiya!", "Correct!", "Right!", "Nicely done!", "Great!", "Yeah!", "Cool!"];
            wishh = ["LAGATAR 4<br>Kya Baaat Hai!", "LAGATAR 4<br>Aap Achcha Kar Rahe Hain"];
            sorry = ["Yeh Nahi Tha!", "Nahi!", "Wrong!", "Incorrect!", "Sorry!"];
            sorryy = ["Yeh Nahi Tha!", "Nahi!", "Wrong!", "Incorrect!", "Sorry!"];
        }

        $('.btn').on('click', function () {
            var thiss = $(this);
            var thiss_text = this.innerText;

            if (thiss_text == word) {//{(card_listed.includes(thiss.text().slice(2, 20))) {
                //textToSpeech(word);
                len.push(randline);
                //cards_db.push(card);
                prompt.style.display = "block";
                $('#prm').css({
                    "background-color": "rgb(60, 179, 114, 0.95)",
                    "animation": "prm 1.5s ease 0ms 1 normal forwards"
                });
                var prompt_msg = wish[Math.floor(Math.random() * (wish.length - 0)) + 0];
                prm.innerHTML = prompt_msg;
            } else {
                prompt.style.display = "block";
                $('#prm').css({
                    "background-color": "rgb(85, 85, 85, 0.95)",
                    "animation": "prm 1s ease 0ms 1 normal forwards"
                });
                var prompt_msg = sorry[Math.floor(Math.random() * (sorry.length - 0)) + 0];
                prm.innerHTML = prompt_msg;
            }
            if (len.length == card_count) {
                len = [];
                if (vars[4] == 1) {
                    location.assign(`/learn/${lesson + 1}`);
                } else {
                    navigate('next');
                }
            } else {
                easy();
                revise();
                //navigate('reload');//window["masters"](num);//window[`master_${vars[3]}`]();
            }
        });

        console.log(wid,word,definition);
    }
    function clkk() {
        prompt.style.display = "none";
    } // important as it makes the prompt display again if not executed prompt wouldn't work

    revise();

    function easy() {
        const xhttp = new XMLHttpRequest();
        // xhttp.onload = function() {
        //   document.getElementById("demo").innerHTML =
        //   xhttp.responseText;
        // }
        xhttp.open("GET", "/english/data?data=easy&word="+wid);
        xhttp.send();
    }
    function hard() {
        const xhttp = new XMLHttpRequest();
        // xhttp.onload = function() {
        //   document.getElementById("demo").innerHTML =
        //   xhttp.responseText;
        // }
        xhttp.open("GET", "/english/data?data=hard&word="+wid);
        xhttp.send();
    }
</script>
{% endblock body %}