{% extends 'base.html' %}
{% load to_and %}

{% block body %}
{% include 'english/flashcards/styles/flashcards.html' %}

{% include "header.html" %}
{% include 'messages.html' %}
{% include "english/rv_settings.html" %}
<div id="KK"></div>
<div id="cont" class="container mt-2"></div>

<script>
    const objs = JSON.parse("{{objs|escapejs}}");
    const len = [];//used for current page if there are more than one card

    //for (let x = 0; x<fields.length; x++){
    //    document.getElementById(fields[x]).innerHTML = r_obj[fields[x]];
    //}
    
    function master(){
        r_num = Math.floor(Math.random() * (objs.length - 0)) + 0;
        
        while (len.includes(r_num)) {
            r_num = Math.floor(Math.random() * (objs.length - 0)) + 0;
        }

        r_obj = objs[r_num];

        let ms = `
            <div class="d-flex justify-content-between align-items-baseline">
                <div class="row col-9 d-flex align-items-baseline">
                    <div id="word" class="col-auto fw-bold text-primary d-inline" {% if request.user.is_superuser %}onclick="window.location.assign('/english/wordedit?word_id=${r_obj.w_id}')"{% endif %}>
                        ${r_obj.word}
                    </div>

                    <div id="pos" class="col-auto fs-4 d-inline text-secondary">
                        ${r_obj.pos}
                    </div>

                    <div class="col-12">
                        ${r_obj.grade ?
                            '<div class="col-12 mb-2"><div id="grade" class="col-12 d-inline fs-5 text-uppercase px-1">'
                                +r_obj.grade+
                            '</div></div>':''
                        }
                        <div class="row col-12 mb-3">
                            <div class="col-auto" style="font-family:Arial;">
                                <div id="ukpron" class="text-primary fs-5" style=""> UK <span id="pruk">${r_obj.pruk}</span> <i class="fa-solid fa-volume-high cursor-pointer"></i></div>
                                <div id="uspron" class="text-danger fs-5" style=""> US <span id="prus">${r_obj.prus}</span> <i class="fa-solid fa-volume-high cursor-pointer"></i></div>
                            </div>
        
                            {% if word.pic %}
                                <div class="cursor-pointer col-auto">
                                    <div class=""><img id="pic_url" class="word-image" src="{{word.pic.url}}"/></div>
                                </div>
                            {% endif %}
        
                            ${r_obj.pic_url_url?
                                '<div id="wpic" class="cursor-pointer col-auto" data-bs-toggle="modal" data-bs-target="#fullImage">'+
                                '<div class="text-primary fs-2"><i class="fa-solid fa-image"></i></div>'+
                                '</div>':''
                            }
                        </div>
                    </div>
                </div>

                <div class="col-sm-3 col-lg-2 p-1 rounded shadow">
                    <div class="col mb-1">
                        <div class="text-center text-light bg-secondary col-12 fs-5 p-1 rounded">{{rv_count}} / {{rv_total_count}}</div>
                    </div>

                    <div class="col mb-1">
                        <button title="Postpone for 30 days" class="btn btn-outline-success col-12 fs-4 px-1 py-0" data-bs-toggle="modal" data-bs-target="#masteredRevise" accesskey="m">Mastered</button>
                    </div>

                    <div class="d-flex gap-1 justify-content-end col-12 mb-1">
                        <button id="easy" title="Easy" class="btn btn-outline-success col fs-4 px-1 py-0" onclick="window.location.assign('/english/data?data=easy&word=${r_obj.w_id}')" accesskey="s">Easy</button>
                        <button id="hard" title="Hard" class="btn btn-outline-secondary col fs-4 px-1 py-0" onclick="window.location.assign('/english/data?data=hard&word=${r_obj.w_id}')" accesskey="h">Hard</button>
                    </div>

                    <div class="d-flex gap-1 justify-content-end col-12">
                        <button type="button" title="Reload" class="btn btn-outline-primary col-auto fs-4" onclick="master();"><i class="fa-solid fa-rotate-right"></i></button>
                        <button type="button" title="Find Words" class="btn btn-outline-primary col-auto fs-4" onclick="window.location.assign('{% url 'dictionary' %}')"><i class="fa-solid fa-book"></i></button>
                        <button id="remove" type="button" title="Remove" class="btn btn-danger col-auto fs-4" data-bs-toggle="modal" data-bs-target="#deleteRevise"><i class="fa-sharp fa-solid fa-trash"></i></button>
                    </div>
                </div>
            </div>

            <div id="forms-cont" class="row">
                
            </div>
        `;

        // def_inf
        ms += `
            <div class="bg-primary rounded my-3 shadow">
                <span class="text-white ps-2 mb-1">Definition</span>
                
                <div id="def-container" class="bg-gray position-relative rounded p-1">
                    <div id="def" class="bg-primary bg-opacity-25 fs-4 p-2 rounded">
                        <div class="fs-6 mb-1">
                            <div>{{word.category.name}}</div>
                            ${r_obj.def_inf ? '<span class="d-inline-block bg-light bg-opacity-25 border border-light px-2 py-1 rounded">'+r_obj.def_inf+'</span>':''}
                        </div>
        
                        <div id="carouselExampleControls" class="carousel slide">
                            <div class="carousel-inner">
        
                                <div class="carousel-item active">
                                    <div id="definition" class="">${r_obj.definition}</div>
                                </div>
                                <div class="carousel-item">
                                    ${r_obj.definition_hindi ? r_obj.definition_hindi : '<span class="fs-5 text-danger">Hindi definition not available for this word</span>'}
                                </div>
                                
                            </div>
                        </div>
        
                        <div class="position-absolute top-0 end-0 m-2">
                            <i class="fa-solid fa-language fs-3 text-primary cursor-pointer" data-bs-target="#carouselExampleControls" data-bs-slide="next"></i>
                        </div>
                    </div>
                </div>
            </div>
        `;

        // example
        ms += `
            <div class="bg-secondary m-0 my-3 rounded shadow">
                <span class="text-white ps-2 mb-1">Example Sentences</span>
                <div class="bg-white rounded p-1">
                    <div id="example" class="fs-4 fst-italic bg-gray bg-opacity-10 rounded pt-1">
                        <ul>
                            <hr class="my-1">
        `;

        for (let x of r_obj.example){
            ms += `<li class="example p-0"><!--&#x2022; bullet -->${x} <i class="fa-solid fa-volume-high cursor-pointer fs-6 text-primary" onclick="textToSpeech(this.parentNode.textContent, 'UK')"></i> <i class="fa-solid fa-volume-high cursor-pointer fs-6 text-danger" onclick="textToSpeech(this.parentNode.textContent, 'US')"></i></li><hr class="my-1">`;
        }
        ms += `
            </ul>
            </div>
            </div>
            </div>
        `;
        
        if (r_obj.context){
            ms+= `
            <div class="my-3 p-0">
                <div class="bg-primary text-white py-1 rounded px-2 mb-2">
                    sentence usage
                </div>
                <div class="mx-2">
                    <!--pre>{{word.context}}</pre-->
                    <div id="context"></div><!--this is being modified by Script-->
                </div>
            </div>`;
        }

        if (r_obj.synonyms){
            if (r_obj.antonyms){
                ms += `<div class="d-flex">
                        <div class="col p-0 my-3">
                            <div class="bg-primary text-white rounded py-1 px-2 mb-2">
                                synonyms
                            </div>
                            <div id="synonyms" class="mx-2">

                            </div>
                        </div>

                        <div class="col p-0 my-3">
                            <div class="col bg-danger text-white rounded py-1 px-2 mb-2">
                                antonyms
                            </div>
                            <div id="antonyms" class="mx-2">
                            </div>
                        </div>
                    </div>
                `;
            }else{
                ms += `
                    <div class="p-0 my-3">
                        <div class="bg-primary text-white rounded py-1 px-2 mb-2">
                            synonyms
                        </div>
                        <div id="synonyms" class="mx-2">
                        </div>
                    </div>
                `;
            }
        }

        if (r_obj.antonyms){
            if (r_obj.synonyms){
                ms += ``;
            }else{
                ms += `
                    <div class="col p-0 my-3">
                        <div class="col bg-danger text-white rounded py-1 px-2 mb-2">
                            antonyms
                        </div>
                        <div id="antonyms" class="mx-2">
                        </div>
                    </div>
                `;
            }
        }
        
        if (r_obj.compare){
            ms+= `<div class="my-3 p-0">
                <div class="bg-primary text-white rounded py-1 px-2 mb-2">
                    related words
                </div>
                <div id="related" class="mx-2">
                </div>
            </div>`;
        }

        if (r_obj.hindi_usage){
            ms+= `
            <div class="my-3 p-0">
                <div id="hindi_usage" class="bg-secondary text-white rounded py-1 px-2 mb-2">
                    Hindi Usage
                </div>
                <div class="mx-2">
                    {{word.hindi_usage}}
                </div>
            </div>`;
        }
        if (r_obj.related_post){
            ms+= `
            <div class="my-3 p-0">
                <div class="bg-secondary text-white rounded py-1 px-2 mb-2">
                    Related Post
                </div>
                <div id="related_post" class="mx-2">
                    {% for post in word.related_post.all %}
                        <button class="btn btn-outline-secondary" onclick="window.location.assign(`{% url 'post_detail' post.pk %}`)">
                            {{post.title}}
                        </button>
                    {% endfor %}
                </div>
            </div>`;
        }
        if (r_obj.collocation){
            ms+= `
            <div class="my-3 p-0">
                <div class="bg-secondary text-white rounded-3 py-1 px-2 mb-2">
                    collocation
                </div>
                <div class="mx-2">
                    <a class="btn btn-secondary" href="/english/collocation/${r_obj.collocation.pk}">${r_obj.collocation.collocation}</a>
                </div>
            </div>`;
        }

        document.getElementById("cont").innerHTML = ms+`
            <div class="my-3">
                <div class="d-flex justify-content-between bg-danger bg-opacity-50 text-white rounded-3 py-1 px-2 mb-2">
                    <div>my note</div>
                    <div class="bg-danger text-white cursor-pointer px-3 rounded" data-bs-toggle="modal" data-bs-target="#myNote"><i class="fa-regular fa-pen-to-square"></i></div>
                </div>
                <div id="note" class="px-3 bg-gray">
                    {{revise.note|default:"you have no notes for this word."}}
                </div>
            </div>
        
            <div class="mb-5"></div>
            <!--div class="accordion" id="accordionPanelsStayOpenExample">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                        Context
                    </button>
                    </h2>
                    <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
                    <div class="accordion-body">
                        <strong>This is the first item's accordion body.</strong> It is shown by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                    </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                        Synonyms
                    </button>
                    </h2>
                    <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
                    <div class="accordion-body">
                        <strong>This is the second item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                    </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="panelsStayOpen-headingThree">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                        Hindi Usage
                    </button>
                    </h2>
                    <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
                    <div class="accordion-body">
                        <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                    </div>
                    </div>
                </div>
            </div-->
    
            <!-- Modal Mastered Confirm -->
            <div class="modal fade" id="masteredRevise" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-sm modal-dialog-centered">
                <div class="modal-content">
                    <!--div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div-->
                    <div class="modal-body">
                    Have you really mastered this word?
                    </div>
                    <!--div class="modal-footer"-->
                    <div class="text-center">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Not yet</button>
                        <button id="master_confirm" type="button" class="btn btn-success" onclick="window.location.assign('/english/data?data=mastered&word={{word.id}}')">Certainly!</button>
                    </div>
                    <!--/div-->
                </div>
                </div>
            </div>
            <!-- Modal Delete Confirm -->
            <div class="modal fade" id="deleteRevise" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <!--div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div-->
                    <div class="modal-body">
                    Do you want to remove the word from revise?
                    </div>
                    <!--div class="modal-footer"-->
                    <div class="text-center">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                        <button id="delete" type="button" class="btn btn-danger" onclick="window.location.assign('/english/data?data=remove&word={{word.id}}')">Yes, remove</button>
                    </div>
                    <!--/div-->
                </div>
                </div>
            </div>
            <!-- Image -->
            <div class="modal fade" id="fullImage" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content p-1">
                    <div class="">
                        {% if word.pic %}
                            <img id="pic_url" class="border border-4 border-secondary rounded" style="width:100%;height:auto;" src="{{word.pic.url}}"/>
                        {% else %}
                            <img id="pic_url_url" class="border border-4 border-secondary rounded" style="width:100%;height:auto;" src="{{word.pic_url}}"/>
                        {% endif %}
                    </div>
                    </div>
                </div>
            </div>  
            <!-- My Note -->
            <div class="modal fade" id="myNote" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <div class="modal-title bg-danger bg-opacity-75 text-white p-2 rounded fs-5" id="exampleModalLabel">My Note - Edit</div>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <form method="post" action="">
                            <div class="modal-body">
                                {% csrf_token %}
                                <textarea id="textarea_note" class="form-control" name="note" rows="4" placeholder="Type here to make your note....">{% if word.note %}{{word.note}}{% endif %}</textarea>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary">Save changes</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        `;
        
        if (r_obj.pos == "verb"){
            document.getElementById("forms-cont").innerHTML = `
                <div>${r_obj.synonyms} ${r_obj.antonyms }</div>
                <div class="col-auto">
                    <button class="btn btn-outline-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                        Other Forms
                    </button>
                </div>
                <div class="card col-auto" style="position:absolute;left:16%;translate:0 -35%;z-index:1;">
                    <div class="collapse" id="collapseExample">
                        <div id="forms" class="card-body">
                            <div>${r_obj.forms[0]}</div>
                            <div>${r_obj.forms[1]} <i class="fa-solid fa-volume-high cursor-pointer></i><i class="fa-solid fa-volume-high cursor-pointer></i></div>
                            <div>${r_obj.forms[2]} <i class="fa-solid fa-volume-high cursor-pointer></i><i class="fa-solid fa-volume-high cursor-pointer></i></div>
                            <div>${r_obj.forms[3]}</div>
                            <div>${r_obj.forms[4]} <i class="fa-solid fa-volume-high cursor-pointer></i><i class="fa-solid fa-volume-high cursor-pointer></i></div>
                            <div>${r_obj.forms[5]} <i class="fa-solid fa-volume-high cursor-pointer></i><i class="fa-solid fa-volume-high cursor-pointer></i></div>
                            <div>${r_obj.forms[6]}</div>
                            <div>${r_obj.forms[7]} <i class="fa-solid fa-volume-high cursor-pointer></i><i class="fa-solid fa-volume-high cursor-pointer></i></div>
                            <div>${r_obj.forms[8]} <i class="fa-solid fa-volume-high cursor-pointer></i><i class="fa-solid fa-volume-high cursor-pointer></i></div>
                            <div>${r_obj.forms[9]}</div>
                            <div>${r_obj.forms[10]} <i class="fa-solid fa-volume-high cursor-pointer></i><i class="fa-solid fa-volume-high cursor-pointer></i></div>
                            <div>${r_obj.forms[11]} <i class="fa-solid fa-volume-high cursor-pointer></i><i class="fa-solid fa-volume-high cursor-pointer></i></div>
                            <div>${r_obj.forms[12]}</div>
                            <div>${r_obj.forms[13]} <i class="fa-solid fa-volume-high cursor-pointer></i><i class="fa-solid fa-volume-high cursor-pointer></i></div>
                            <div>${r_obj.forms[14]} <i class="fa-solid fa-volume-high cursor-pointer></i><i class="fa-solid fa-volume-high cursor-pointer></i></div>
                        </div>
                    </div>
                </div>
            `;
        }

        //Generating HTML content of Sentence Usage

        // Sentence Usage
        if (r_obj.context){
            let contextSt = `${r_obj.context}`.split("\n"); // context converted into list
            var context = [];
            var contextDoc = ``;

            for ( let x of contextSt ){
                xx = x.split("+");
                context.push(xx);
            } // making list of context substrings


            for ( let x of context ){
                contextDoc += `<div class="mb-2">`;
                for ( let y=0; y < x.length; y++ ){
                    if (y==x.length-1){
                        contextDoc += `<span class="d-inline-block bg-secondary bg-opacity-25 px-2 py-1 rounded-3">${x[y]}</span>`;
                    } else {
                        contextDoc += `<span class="d-inline-block bg-secondary bg-opacity-25 px-2 py-1 rounded-3">${x[y]}</span><span class="py-1">+</span>`;
                    }
                }
                contextDoc += `</div>`;
            } // generating HTML content from context list
        
            document.getElementById("context").innerHTML = contextDoc;
        }

        //console.log(contextDoc);

        // Generating content
        
        let synonymsSt = `${r_obj.synonyms}`.split(","); // context converted into list
        var synonymsDoc = ``;

        if (r_obj.synonyms){
            for ( let x of synonymsSt ){
                x = x.trim()
                synonymsDoc += `<span class="d-inline-block border-bottom border-3 border-primary pb-1 me-2 mb-2 cursor-pointer" onclick="window.location.assign('{% url 'dictionary' %}?q=${x}')">${x}</span>`;
            } // generating HTML content from context list

            document.getElementById("synonyms").innerHTML = synonymsDoc;
        }


        let relatedSt = `${r_obj.compare}`.split(","); // context converted into list
        var relatedDoc = ``;

        if (r_obj.compare){
            for ( let x of relatedSt ){
                x = x.trim()
                relatedDoc += `<span class="d-inline-block border-bottom border-3 border-info pb-1 me-2 mb-2 cursor-pointer" onclick="window.location.assign('{% url 'dictionary' %}?q=${x}')">${x}</span>`;
            } // generating HTML content from context list

            document.getElementById("related").innerHTML = relatedDoc;
        }

        let antonymsSt = `${r_obj.antonyms}`.split(","); // context converted into list
        var antonymsDoc = ``;

        if (r_obj.antonyms){
            for ( let x of antonymsSt ){
                x = x.trim()
                antonymsDoc += `<button class="btn btn-outline-danger me-2 mb-2" onclick="window.location.assign('{% url 'dictionary' %}?q=${x}')">${x}</button>`;
            } // generating HTML content from context list

            document.getElementById("antonyms").innerHTML = antonymsDoc;
        }

        let ukp = document.getElementById("ukpron");
        let usp = document.getElementById("uspron");

        ukp.addEventListener('click', function() {
            //let audio1 = new Audio('/media/dictionary/audio/{{word.word}}_gb_1.mp3');
            //audio1.play();
            textToSpeech(r_obj.word,"UK")
        });
        usp.addEventListener('click', function() {
            //let audio2 = new Audio('/media/dictionary/audio/{{word.word}}_us_1.mp3');
            //audio2.play();
            textToSpeech(r_obj.word,"US")
        });

        colors();
        navigate();
    }
    
    master();

    function navigate(){
        len.push(r_num);
        if (len.length == objs.length) {
            window.location.reload();
        }
    }
    //for ( let y of Object.keys(r_obj)){      
    //    document.getElementById(y).innerText = r_obj[y];
    //}

    //document.getElementById("KK").innerHTML = r_obj.w_id;
</script>

<!-- COLORS -->
<script>
    function colors(){
        let def = document.getElementById("definition");
        def.innerHTML = def.innerHTML.replace(/[;]/g, "<span class='fw-bold text-primary'> ; </span>");

        var example = document.getElementById("example");
        var examples = example.getElementsByTagName("li");

        for (let x of examples) {
            let tag_start = false;

            if (tag_start == false){
                x.innerHTML = x.innerHTML.replace("**", "<span style='font-style:normal;'>[");
                tag_start = true;
            }

            if (tag_start == true){
                x.innerHTML = x.innerHTML.replace("**", "]</span>");
                tag_start = false;
            }

            if (tag_start == false){
                x.innerHTML = x.innerHTML.replace("*", "<span class='fw-bold'>");
                tag_start = true;
            }

            if (tag_start == true){
                x.innerHTML = x.innerHTML.replace("*", "</span>");
                tag_start = false;
            }
        }

        //reg = new RegExp(r_obj.word,"gi");
        //example.innerHTML = example.innerHTML.replace(reg, `<span style='color:#0d6efd;'>${r_obj.word}</span>`);

        // Example Shadows
        let exampleHeight = example.scrollHeight;//example.getBoundingClientRect().height;
        if ( exampleHeight > 300 ){
            example.classList.add("shadow-b");
        }
        example.addEventListener("scroll", function(){
            if (example.scrollTop > 40){
                example.classList.remove("shadow-b");
                example.classList.add("shadow-y");
            }
            if (example.scrollTop > (exampleHeight-example.offsetHeight-2)){
                example.classList.remove("shadow-y");
                example.classList.add("shadow-t");
            }
            if (example.scrollTop < 10){
                example.classList.remove("shadow-y");
                example.classList.add("shadow-b");
            }
            //console.log(example.classList);
        });
    }
    colors();
</script>

<!--AUTO REFRESHER SCRIPT-->
<script>
    if ("{{refresh}}" == "True") {
        setTimeout(function() {
            location.reload();
        }, 4000);
    } else {
        setTimeout(function() {
            location.reload();
        }, 60000);
    };
</script>

{% include "tts_2.html" %}
{% endblock body %}