<style>
    .popover {
        background: #ffffff;
    }
    .b-example-divider {
        height: 3rem;
        background-color: rgba(0, 0, 0, .1);
        border: solid rgba(0, 0, 0, .15);
        border-width: 1px 0;
        box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
    }
    .superuser {
        display: {% if request.user.is_superuser %}initial{% else %}none{% endif %};
    }

    .r-title {
        display: inline-block;
        border-radius: 0.8rem 0.8rem 0 0;
    }

    #lesson_cont {
        width: 350px;
        height: 250px;
        background: url("/static/img/bgs/education_doodles.svg");
        background-position: center;
        background-size: cover;
        border-radius: 1rem;
        overflow: hidden;
    }
    #lesson_title {
        width:100%;
        height:100%;
        background-color: #99999999;
        text-align: center;
        color: #ffffff;
        text-shadow: 2px 2px 5px #000000;
    }
    #post-title-cont {
        background-color: #f1f1f2;
        border-radius: 1rem;
        overflow: hidden;
    }

    #post-title {
        padding: 2rem 1rem 1rem 1rem;
    }
    #post-stamp {
        font-style: italic;
        color: #888;
        padding: 0 0 0 1.5rem;
    }
    #comment-head {
        border-radius: 0.6rem 0.6rem 0 0;
    }
    #comment {
        border-radius: 0 0 0.4rem 0.4rem;
    }
    #time-stamp {
        position: absolute;
        right: 0.5rem;
        bottom: 0.5rem;
        font-size: 0.9rem;
        color: #777;
    }
    .rule {
        width: 100%;
        height: 0.5rem;
        background-image: repeating-radial-gradient(circle farthest-side at 5px 10px,#3cb371 10%, #3B71CA 30%, #3cb371);
        margin: 0 0 0 0;
    }
    .weight-600 {
        font-weight: 600;
    }
    .example {
        font-style: italic;
    }
    .bg-gray {
        background-color: #f1f1f1;
    }
    .bg-gray-secondary {
        background-color: #e1e1e1;
    }

    .intr {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 200%;
        animation: slideInDown 0.5s;
        background-color: rgb(220, 220, 220, 0.9);
        font-size: 3rem;
        padding: 1rem 5rem;
        border-radius: 1rem;
    }

    /* Users */
    .profile-pic {
        height: 10rem;
        width: auto;
        border-radius: 50%;
    }

    .card {
        cursor: pointer;
        width: 10rem;
        height: 12rem;
        border-radius: 0.5rem;
        overflow: hidden;  
        padding: 0.5rem;
        transition: all 0.5s;
    }
    .card:hover {
        background-color: #cccccc;
    }
    
    .card .img-cont {
        height: 10rem;
        width: 100%;
        overflow: hidden;
    }
    .card .img {
        width: 100%;
        height: auto;
        border: 2px solid #ddd;
        border-radius: 0.3rem;
    }

    .card .name {
        white-space: nowrap;
        width: 100%;
        height: 2rem;
        font-family: Bree;
        text-align: center;
        padding: 0.2rem 0;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .card-full {
        display: flex;
        gap: 1rem;
        cursor: pointer;
        width: 100%;
        border-radius: 0.5rem;
        overflow: hidden;  
        padding: 0.5rem;
        transition: all 0.5s;
    }
    .card-full:hover {
        background-color: #eee;
    }
    
    .card-full .img-cont {
        height: 10rem;
        width: 10rem;
        overflow: hidden;
    }
    .card-full .inf-cont {
        display: flex;
        flex-flow: column wrap;
        justify-content: space-between;
        height: 10rem;
        max-width: 20rem;
        overflow: hidden;
    }
    .card-full .img {
        width: 100%;
        height: auto;
        border: 2px solid #ddd;
        border-radius: 0.3rem;
    }

    .card-full .name {
        white-space: nowrap;
        width: 100%;
        height: 2rem;
        font-family: Bree;
        padding: 0.2rem 0;
        overflow: hidden;
        text-overflow: ellipsis;
    }
</style>