<div class="mt-5"></div>
<div class="mt-5"></div>
<footer class="position-fixed bottom-0 start-0 w-100">
    <div class="position-relative py-1">
        <div class="text-white text-center">&copy; Learners Academy - 2023</div>
    </div>

    <div id="ft" class="position-absolute bg-success text-light text-center cursor-pointer rounded-5" style="width:1.5rem;height:1.5rem;bottom:1rem;right:1rem;" onclick="window.location.assign('#top')">
        <i class="fa-solid fa-arrow-up"></i>
    </div>
</footer>