{% extends 'base.html' %}
{% block body %}

{% include "header.html" %}
{% include "messages.html" %}

<style>
  #word-of-the-day {
    position: relative;
    display: block;
    background-color: var(--blue-ii);
    width: 100%;
    padding: 0 0 2rem 0;
  }
  #wod-word {
    width: 100vw;
    text-align: center;
    font-size: 4rem;
    cursor: pointer;
  }
</style>

<section id="sl">
  <div id="headersl">
  </div>
  <div id="caption" class="d-none d-sm-inline-block">
    <div id="text">
      <h1>Learn</h1>
      <h1>&amp;</h1>
      <h1>Grow</h1>
    </div>
  </div>
  <div id="title">
    <div class="position-relative ps-4 pb-3">
      <span class="position-absolute top-0 start-0 text-success">❝ </span>
      {{quotes.quote}}
      <button id="q-auth" class="btn position-absolute bottom-0 start-0 text-light fw-light fs-6 btn-success rounded-4 py-1 px-2">{{quotes.author}}</button>
      <span class="position-absolute bottom-0 end-0 text-success"> ❞</span>
    </div>
  </div>
</section>
<div class="b-example-divider"></div>
<div id="word-of-the-day" class="">
  <div class="bg-primary position-absolute top-0 start-0 m-3 rounded-2">
    <span class="text-white p-3">Word of the Day</span>
  </div>

  <div class="bg-blue-ii p-3 text-end">
    <span class="bg-secondary text-light py-1 px-3 rounded-2">{% now "D, d M, Y" %}</span>
  </div>
  
  <div id="wod-word" class="text-secondary px-2" onclick="window.location.assign('{% url 'word' word.word.id %}')">
    <div class="text-primary">{{word.word.word}}</div>
    <div class="fs-5">({{word.word.pos}})<hr></div>
    <div class="fs-4">{{word.word.definition}}</div>
  </div>

  <div class="position-absolute bottom-0 start-0 bg-blue-ii p-2 text-center w-100">
  </div>
</div>

<div class="m-5">
  <div class="r-title m-0 text-outline-secondary py-2 px-3 fs-5 border-top border-secondary">What's New</div>
  <hr class="mt-0">
  {% for post in posts %}
    <div class="row py-3">
      <div id="lesson_cont" class="position-relative col-sm-12 col-md-5 p-0 mb-2" onclick="window.location.assign('{% url 'post_detail' post.pk %}')">
        <div class="position-absolute top-0 start-0 bg-secondary p-2 rounded-4 text-light">
          {{post.created_at|date:"j-m-y"}}
        </div>
        <div id="lesson_title" class="d-flex justify-content-center align-items-center">
          <div class="">
            <div class="fs-2">. . .</div>
            <div class="fs-2">{{post.topic.name|title}}</div>
            <div class="fs-2">. . .</div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-5 text-dark mb-2">
        <div class="">
          <a class="text-dark" href="{% url 'post_detail' post.pk %}">
            <div class="fs-4">{{ post.title }}</div>
          </a>
        </div>
      </div>
      <div class="col-sm-12 col-md-2">
        <div class="">
          <span class="border border-secondary p-2 rounded-3 text-secondary"><i class="fa fa-thumbs-up fs-5"></i> <span class="badge bg-secondary">{{post.like_set.count}}</span></span>    
        </div>
      </div>
    </div>
    <hr>
  {% endfor %}
</div>


{% include "footer.html" %}
{% endblock body %}