{% extends 'base.html' %}
{% block body %}

{% include "header.html" %}
{% include "messages.html" %}

<style>
  #dstate {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #ffffff;
    color: #3cb371;
    z-index: 100;
  }
</style>

{% if request.user.is_superuser %}
{% else %}
<div id="dstate">
  <theader class="">
    <div id="title_bar">
      <div id="title">
        <a href="/"><img src="/static/img/graduate.svg"/></a>
        <a class="" href="/">LEARNERs ACADEMY</a>
      </div>
      <div id="user" class="me-5">
        <a class="fs-6 fw-bold" href="/admin"><i class="fa-solid fa-toolbox"></i> ADMIN PANEL</a>
      </div>
    </div>
  </theader>
  <div class="h-100 d-flex justify-content-center align-items-center flex-column">
    <div class="fs-1"><i>Oops!</i></div>
    <div class="fs-1"><i>The app is under deveplopment state.</i></div>
    <div class="fs-1"><i>Thank you for visiting us!</i></div>
  </div>
</div>
{% endif %}

<section id="sl">
  <div id="headersl">
  </div>
  <div id="caption" class="d-none d-lg-inline-block">
    <div id="text">
      <h1>Learn</h1>
      <h1>&amp;</h1>
      <h1>Grow</h1>
    </div>
  </div>
  <div id="title">
    <div class="position-relative ps-4 pb-3">
      <span class="position-absolute top-0 start-0 text-success">❝ </span>
      {{quotes.quote}}
      <button id="q-auth" class="btn position-absolute bottom-0 start-0 text-light fw-light fs-6 btn-success rounded-4 py-1 px-2">{{quotes.author}}</button>
      <span class="position-absolute bottom-0 end-0 text-success"> ❞</span>
    </div>
  </div>
</section>

<!--div class="b-example-divider"></div-->

<div class="d-flex justify-content-center w-100">
  <div class="bg-light col-sm-12 col-md-8 my-5">
    <div class="d-flex justify-content-between bg-primary bg-opacity-50 p-3 rounded-3">
      <span class="col-auto bg-primary text-white py-1 px-3 rounded-2">Word of the Day</span>
      <span class="col-auto text-end bg-secondary text-light py-1 px-3 rounded-2">{% now "D, d M, Y" %}</span>
    </div>
    
    <div class="text-center text-secondary px-2 py-4 cursor-pointer" onclick="window.location.assign('{% url 'word' word.word.id %}')">
      <div class="display-5 text-primary">{{word.word.word}}</div>
      <div class="fs-5">({{word.word.pos}})<hr></div>
      <div class="fs-4">{{word.word.definition}}</div>
    </div>

    <div class="text-center bg-primary bg-opacity-50 p-2 rounded-3">
    </div>
  </div>
</div>

<div class="m-5">
  <div class="d-flex justify-content-between mb-2">
    <div class="col-auto">
      <select class="form-select bg-gray text-secondary">
        <option>Newest</option>
        <option>Oldest</option>
      </select>
    </div>

    <div class="col-auto"><select class="form-select bg-gray text-secondary"><option>Grammar</option></select></div>
  </div>

  <hr class="mt-0">
  {% for post in posts %}
    <div class="d-flex flex-wrap col-md-8 bg-gray rounded">
        <div id="lesson_cont" class="position-relative col-sm-12 col-md-5 rounded-3 border border-2 border-secondary m-2" onclick="window.location.assign('{% url 'post_detail' post.pk %}')">
          <div class="position-absolute top-0 start-0 bg-secondary bg-opacity-75 py-1 px-2 fst-italic rounded text-light">
            {{post.created_at|date:"j-m-y"}}
          </div>
          <div id="lesson_title" class="d-flex justify-content-center align-items-center">
            <div class="">
              <div class="fs-2">. . .</div>
              <div class="fs-2 fst-italic" style="font-family:Poppins;">{{post.topic.name|title}}</div>
              <div class="fs-2">. . .</div>
            </div>
          </div>
          {% if post.like_set.count %}
            <div class="position-absolute bottom-0 end-0 bg-secondary bg-opacity-75 py-1 px-2 rounded-4 text-light">
              <i class="fa fa-thumbs-up fs-5"></i> <span class="badge text-light">{{post.like_set.count}}</span>
            </div>
          {% endif %}
        </div>
        <div class="col-sm-12 col-md-6 m-2">
          <div class="">
            <a class="text-secondary" href="{% url 'post_detail' post.pk %}">
              <div class="fs-4">{{ post.title }}</div>
            </a>
          </div>
        </div>
    </div>
    <hr>
  {% endfor %}
</div>


{% include "footer.html" %}
{% endblock body %}