{% extends "base.html" %}
{% block body %}
{% include "header.html" %}

<button class="btn btn-secondary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
  <i class="fa-solid fa-bars"></i>
</button>
  
<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasExampleLabel">{{course|capfirst}} <i class="fa-brands fa-python fs-5"></i></h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <div>
      {% for x in model %}
          <div class="bg-gray px-2"><a href="?chapter={{x.pk}}" class="d-block py-1">{{x.chapter_name}}</a></div>
      {% endfor %}
    </div>
  </div>
</div>

<div id="coding" class="container my-5">

  <div>{{chapter.chapter_name}}</div>
  <div>{{chapter.content|safe}}</div>

  <!-- pagination -->
  <hr>
  <div class="row my-3">
    <div class="col">
      <a href="?chapter={{chapter_num|add:-1}}" class="btn btn-success text-light {% if has_prev %}disabled{% endif %}" role="button">Prev</a>
    </div>
    <div class="col text-end">
      <a href="?chapter={{chapter_num|add:1}}" class="btn btn-success text-light {% if has_next %}disabled{% endif %}" role="button">Next</a>
    </div>
  </div>
</div>

<script>
  let h2 = document.getElementsByTagName("h2");
  let h3 = document.getElementsByTagName("h3");
  for (let x of h2){
    x.classList.add("fs-3","p-2","border-bottom","border-2","border-secondary");
  }
  for (let x of h3){
    x.classList.add("fs-4","p-2","border-bottom","border-2","border-secondary");
  }
</script>
{% endblock body %}